body {background-color: #f2f2f2;}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li {
    float: left;
    list-style-type:circle;
}

.link {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;;

}

.link:hover {
    background-color: #111;
}
.hjemmenu {
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  padding:10px;


}
.menu {
    border-radius: 5px;
    padding: 20px;
}

.info {
  margin-left: 50px;
  width: 450px;
  height: 300px;
  float: left;
}

.tableinfo {
  width: 400px;
}

.passiv {
  margin-right: 50px;
  margin-left: 50px;
  width: 400px;
  height: 300px;
  float: left;
}

.kompetanse {
  margin-left: 50px;
}

.kurs {
  float: left;
  width: 500px;
}

.addkurs {
  float: left;
}

.addkursadmin {
  float: right;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.changeinput {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.changeinfo {
  margin-left: 50px;

}

.button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.img {
  border-radius: 8px;
  width: 15%;

    display: block;
    margin-left: auto;
    margin-right: auto
}
.h1 {
  margin-left: auto;
    margin-right: auto;
    width: 5.5em
}

.confirmBtn {
  display: flex;
  justify-content: center;
}

.table{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 40%;
}
.td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}
.th {
    text-align: left;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column1 {
    float: left;
    width: 60%;
    padding: 15px;
}
.column2 {
    float: left;
    width: 30%;
    padding: 15px;
}
.column3 {
    float: left;
    width: 40%;
    padding: 15px;
}
.calendercolumn {
  margin-left: 30px;
  margin-right: 25px;
  margin-bottom: 75px;
  width: 500px;
  height: 400px;
  float: left;
}

.roller {
  width: 400px;
}

.vakter {
  margin-left: 30px;
  width: 700px;
  float: left;

}
