body {background-color: #f2f2f2;}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li {
    float: left;
    list-style-type:circle;
}

.link {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;;

}

.link:hover {
    background-color: #111;
}
.hjemmenu {
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  padding:10px;


}
.menu {
    border-radius: 5px;
    padding: 20px;
}

.info {
  margin-left: 50px;
  width: 450px;
  height: 300px;
  float: left;
}

.tableinfo {
  width: 400px;

}

.passiv {
  margin-right: 50px;
  margin-left: 50px;
  width: 400px;
  height: 300px;
  float: left;
}

.kompetanse {
  margin-left: 50px;
}

.kurs {
  float: left;
  width: 500px;
}

.addkurs {
  float: left;
}

.addkursadmin {
  float: right;
}

.input {
    width: 440px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginInput::-webkit-input-placeholder {
  text-align: center;
}

.loginInput {
  width: 440px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.loggin {
  margin: auto;
  width: 500px;
}

.loggintabell {
  width: 400px;
  margin: auto;
  margin-top: 15px;
}

.loggininput {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.changeinput {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.changeinfo {
  margin-left: 50px;

}

.button {
    width: 200px;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;

}

.button2 {
    width: 40%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button3 {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.statistikkBtn {
    width: 20%;
    background-color: black;
    color: white;
    padding: 8px 13px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.godkjennBtn {
    width: 10%;
    height: 2%;
    background-color: black;
    color: white;
    padding: 8px 13px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.img {
  border-radius: 8px;
  width: 170px;;
  display: block;
  margin-left: auto;
  margin-right: auto

}


.h1 {

  font-size: 4em;
  text-align: center;
}

.confirmBtn {
  display: flex;
  justify-content: center;
}

.table{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 40%;
}

.table100{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
.td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

.th {
    text-align: left;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


.roller {
  float: left;
  width: 500px;
  margin-right: 50px;
}
.tabellroller{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.tildelvakter {
    float: left;
    width: 500px;
}

.tabellvakter{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.column3 {
    float: left;
    width: 40%;
    padding: 15px;
}

.calendercolumn {
  margin-left: 30px;
  margin-right: 25px;
  margin-bottom: 75px;
  width: 500px;
  height: 400px;
  float: left;
}
.calendercolumn100 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  width: 100%;
  height: 400px;
  float: left;
}

.vakter {
  margin-left: 30px;
  width: 700px;
  float: left;

}

.blokk {
  margin-left: 50px;
  margin-right: 25px;
}

.beskrivelsetabell {
    width: 500px;
    float: left;
    margin-right: 50px;
}

.beskrivelse {
  width: 205px;
  float: left;

}
.beskrivelsetekst {
  width: 300px;
}

.interesse {
  float: left;
  width: 300px;
  margin-top: 75px;
}

.arrform {
  float: left;
  margin-right: 50px;
}

.arrtabell {
  width: 400px;
  float: left;
}
.arrinput {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.deaktiver {
  float: right;
  margin-right: 25px;
}

.login {
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}
